<div class="chart-header d-flex row">
  <ul class="col-xl-6 p-0-5 nav nav-pills bg-light rounded width-fit-content" role="tablist">
    <li role="button" class="nav-item" (click)="isMonthly = !isMonthly;periodChange(true)">
      <a class="nav-link" [class.active]="isMonthly">Monthly</a>
    </li>
    <li role="button" class="nav-item" (click)="isMonthly = !isMonthly;periodChange(false)">
      <a class="nav-link" [class.active]="!isMonthly">Daily</a>
    </li>
  </ul>
  <div class="col-xl-6  p-0-5 date-pickers">
    <div class="picker-wrapper" bsDaterangepicker
         [bsConfig]="dateRangeConfig"
         [(bsValue)]="dateRangePickerValue"
         (onShown)="onOpenCalendar($event)" (bsValueChange)="onDateValueChange($event)">
      <i class="far fa-calendar-alt"></i>
      <div class="date-range">
        <span>{{this.range1 | date:currentDateFormat}}</span>
        <span>-</span>
        <span>{{this.range2 | date:currentDateFormat}}</span>
      </div>
    </div>
  </div>
</div>
<div class="chart-body">
  <app-monthly-consumption-chart></app-monthly-consumption-chart>
</div>
