<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4 d-none d-lg-block border-right">
              <div class="row">
                <div class="col-xl-6">
                  <h5>Hello, {{(userInfo$ | async).firstName}} {{(userInfo$ | async).lastName}}</h5>
                </div>
                <div *ngFor="let meter of metersData$ | async; index as i" class="d-flex flex-column col-xl-6">
                  <h5>Water Meter: {{meter.meterSn}}</h5>
                  <span class="font-size-16 font-weight-light">{{meter.fullAddress}}</span>
                </div>
              </div>

            </div>

            <div class="col-lg-4 border-right">
              <div class="d-flex flex-column">
                <h5>Water Consumption</h5>
                <span class="font-size-16 font-weight-light">Nov, 2023</span>
              </div>
            </div>

            <div class="col-lg-4 border-right">
              <div class=" mt-4 mt-lg-0">
                <div class="row">
                  <div class="col-12 d-flex flex-column">
                    <h5>Monthly Low-Rate Threshold Value</h5>
                    <span class="font-size-16 font-weight-light"> {{(cardsData$ | async).data.monthlyLowRate + ' '
                    + (cardsData$ | async).data.uom}}</span>

                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- end row -->
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-8">
      <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center mb-3">
                <div class="avatar-xs me-3">
                                    <span
                                      class="avatar-title rounded-circle bg-primary-subtle text-primary font-size-18">
                                        <i class="bx bx-copy-alt"></i>
                                    </span>
                </div>
                <h5 class="font-size-14 mb-0">Current Meter Reading</h5>
              </div>
              <div class="text-muted mt-4">
                <h4>{{(cardsData$ | async).data.currentMeterReading | number : '1.2-2'}}</h4>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center mb-3">
                <div class="avatar-xs me-3">
                                    <span
                                      class="avatar-title rounded-circle bg-primary-subtle text-primary font-size-18">
                                        <i class="bx bx-archive-in"></i>
                                    </span>
                </div>
                <h5 class="font-size-14 mb-0">Current Month Consumption</h5>
              </div>
              <div class="text-muted mt-4">
                <h4>{{(cardsData$ | async).data.currentMonthConsumption | number : '1.2-2'}}</h4>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center mb-3">
                <div class="avatar-xs me-3">
                                    <span
                                      class="avatar-title rounded-circle bg-primary-subtle text-primary font-size-18">
                                        <i class="bx bx-purchase-tag-alt"></i>
                                    </span>
                </div>
                <h5 class="font-size-14 mb-0">End of Month Forecast</h5>
              </div>
              <div class="text-muted mt-4">
                <h4>{{(cardsData$ | async).data.endOfMonthForecast | number : '1.2-2'}}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body bg-primary-subtle ">
          <div class="d-flex">
            <h4 class="text-center">Get informed about water consumption while away from home</h4>
          </div>
          <div class="text-muted mt-2 justify-content-center d-flex">
            <button class="btn btn-primary btn-lg waves-effect waves-light">DEFINE DATES</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-8">
      <div class="card">
        <div class="card-body">
          <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist">
            <li class="nav-item tab" role="presentation" (click)="activeTab =0">
              <a class="nav-link active pe-auto" data-bs-toggle="tab" role="tab" aria-selected="true"
                 [class.active]="activeTab ===0">
                <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                <span class="d-none d-sm-block">Home</span>
              </a>
            </li>
            <li class="nav-item tab" role="presentation" (click)="activeTab =1">
              <a class="nav-link pe-auto" data-bs-toggle="tab" role="tab" aria-selected="false" tabindex="-1"
                 [class.active]="activeTab ===1">
                <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                <span class="d-none d-sm-block">Profile</span>
              </a>
            </li>
          </ul>
          <div class="tab-content p-3 text-muted">

            <div class="tab-pane active" role="tabpanel" [class.hidden]="activeTab ===1"
                 [class.visible]="activeTab ===0">
              <div class="chart-header d-flex">
                <ul class="nav nav-pills bg-light rounded width-fit-content" role="tablist">
                  <li role="button" class="nav-item" (click)="isMonthly = !isMonthly;periodChange(true)">
                    <a class="nav-link" [class.active]="isMonthly">Monthly</a>
                  </li>
                  <li role="button" class="nav-item" (click)="isMonthly = !isMonthly;periodChange(false)">
                    <a class="nav-link active" [class.active]="!isMonthly">Daily</a>
                  </li>
                </ul>
                <div class="date-pickers ml-3">
                  <div class="picker-wrapper" bsDaterangepicker
                       [bsConfig]="dateRangeConfig"
                       [(bsValue)]="dateRangePickerValue"
                       (onShown)="onOpenCalendar($event)" (bsValueChange)="onDateValueChange($event)">
                    <i class="far fa-calendar-alt"></i>
                    <div class="date-range">
                      <span>{{this.range1 | date:currentDateFormat}}</span>
                      <span>-</span>
                      <span>{{this.range2 | date:currentDateFormat}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chart-body">
                <app-monthly-consumption-chart [months]="fromToMonthly.months"></app-monthly-consumption-chart>
              </div>
            </div>
            <div class="tab-pane" role="tabpanel" [class.hidden]="activeTab ===0" [class.visible]="activeTab ===1">
              <p class="mb-0">
                Food truck fixie locavore, accusamus mcsweeney's marfa nulla
                single-origin coffee squid. Exercitation +1 labore velit, blog
                sartorial PBR leggings next level wes anderson artisan four loko
                farm-to-table craft beer twee. Qui photo booth letterpress,
                commodo enim craft beer mlkshk aliquip jean shorts ullamco ad
                vinyl cillum PBR. Homo nostrud organic, assumenda labore
                aesthetic magna delectus.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h5>Alerts</h5>
          </div>
          <div *ngFor="let alert of alerts$ | async; index as i" class="card border border-danger">
            <div class="card-body row alert-row">
              <div class="col-xl-8 alert-row-desc-and-icon">
                <div class="alert-icon">
                  <img *ngIf="alert.alertTypeId == 16" src="assets/images/alerts/leak_in_meter.png"/>
                  <img *ngIf="alert.alertTypeId == '35'" src="assets/images/alerts/meter-leak.svg"/>
                </div>
                <div class="alert-description">
                  {{alert.alertTypeName}}
                </div>
              </div>
              <div class="col-xl-4">
                {{alert.alertTime}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
