.informed-div {
  text-align: center;
}

.border-right {
  border-right: 2px solid rgb(0 0 0 / 13%);
}

.tab {
  cursor: pointer;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.alert-row {
  .alert-row-desc-and-icon {
    display: flex;
    flex-direction: row;
    align-items: center;

    .alert-icon {
      width: fit-content;

      img {
        width: 45px;
      }
    }

    .alert-description {
      font-size: 16px;
      padding-left: 10px;
    }
  }

}

.picker-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 30px;
  border: 1px solid #00000047;
  padding: 5px;
  border-radius: 5px;

  i {
    font-size: 20px;
  }

  .date-range {
    span {
      font-weight: 100;
      padding-left: 10px;
      font-size: 16px;
    }
  }
}

.width-fit-content {
  width: fit-content;
}
.card-height{
  height: 95%;
}
