.informed-div{
  text-align: center;
}

.border-right{
  border-right:  2px solid rgb(0 0 0 / 13%);
}

.tab{
  cursor: pointer;
}

.hidden{
  display: none;
}
.visible{
  display: block;
}
.alert-row{
  .alert-row-desc-and-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
     .alert-icon{
      width: fit-content;
      img{
        width: 45px;
      }
    }
    .alert-description{
      font-size: 16px;
      padding-left: 10px;
     }
  }

}
.date-pickers{
  display: flex;
  margin-left: 20px;
  .picker-wrapper{
    font-size:16px;
    font-weight: lighter;
    padding: 0.5em;
  }
}
.width-fit-content{
  width: fit-content;
}
