.alert-modal-header{
  display: flex;
  align-items: center;
  .alert-modal-icon{
      height: 45px;
      padding-right: 15px;
  }
}
.auto-message{
  padding: 0.5em;
  font-style: italic;
}
.alert-modal-footer{

}
.btn-confirm{
  width: 40%;
}
