<div class="container-fluid">
  <div class="row">

      <div class="col-lg-4 d-none d-lg-block">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-6">
                <h5>Hello, {{(userInfo$ | async).firstName}} {{(userInfo$ | async).lastName}}</h5>
              </div>
              <div *ngFor="let meter of metersData$ | async; index as i" class="d-flex flex-column col-xl-6">
                <h5>Water Meter: {{meter.meterSn}}</h5>
                <span class="font-size-16 font-weight-light">{{meter.fullAddress}}</span>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column">
              <h5>Water Consumption</h5>
              <span class="font-size-16 font-weight-light">Nov, 2023</span>
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <div class=" mt-4 mt-lg-0">
              <div class="row">
                <div class="col-12 d-flex flex-column">
                  <h5>Monthly Low-Rate Threshold Value</h5>
                  <span class="font-size-16 font-weight-light"> {{(cardsData$ | async).data.monthlyLowRate + ' '
                  + (cardsData$ | async).data.uom}}</span>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

  </div>

  <div class="row">
    <div class="col-xl-8">
      <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center mb-3">
                <div class="avatar-xs me-3">
                                    <span
                                      class="avatar-title rounded-circle bg-primary-subtle text-primary font-size-18">
                                        <i class="bx bx-copy-alt"></i>
                                    </span>
                </div>
                <h5 class="font-size-14 mb-0">Current Meter Reading</h5>
              </div>
              <div class="text-muted mt-4">
                <h4>{{(cardsData$ | async).data.currentMeterReading | number : '1.2-2'}}</h4>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center mb-3">
                <div class="avatar-xs me-3">
                                    <span
                                      class="avatar-title rounded-circle bg-primary-subtle text-primary font-size-18">
                                        <i class="bx bx-archive-in"></i>
                                    </span>
                </div>
                <h5 class="font-size-14 mb-0">Current Month Consumption</h5>
              </div>
              <div class="text-muted mt-4">
                <h4>{{(cardsData$ | async).data.currentMonthConsumption | number : '1.2-2'}}</h4>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center mb-3">
                <div class="avatar-xs me-3">
                                    <span
                                      class="avatar-title rounded-circle bg-primary-subtle text-primary font-size-18">
                                        <i class="bx bx-purchase-tag-alt"></i>
                                    </span>
                </div>
                <h5 class="font-size-14 mb-0">End of Month Forecast</h5>
              </div>
              <div class="text-muted mt-4">
                <h4>{{(cardsData$ | async).data.endOfMonthForecast | number : '1.2-2'}}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body bg-primary-subtle ">
          <div class="d-flex">
            <h4 class="text-center">Get informed about water consumption while away from home</h4>
          </div>
          <div class="text-muted mt-2 justify-content-center d-flex">
            <button class="btn btn-primary btn-lg waves-effect waves-light" (click)="setVacations()">DEFINE DATES</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-8 ">
      <div class="card card-height">
        <div class="card-body">
          <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist">
            <li class="nav-item tab" role="presentation" (click)="activeTab =0">
              <a class="nav-link active pe-auto" data-bs-toggle="tab" role="tab" aria-selected="true"
                 [class.active]="activeTab ===0">
                <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                <span class="d-none d-sm-block">Home</span>
              </a>
            </li>
            <li class="nav-item tab" role="presentation" (click)="activeTab =1">
              <a class="nav-link pe-auto" data-bs-toggle="tab" role="tab" aria-selected="false" tabindex="-1"
                 [class.active]="activeTab ===1">
                <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                <span class="d-none d-sm-block">Profile</span>
              </a>
            </li>
          </ul>
          <div class="tab-content p-3 text-muted">
            <div class="tab-pane active" role="tabpanel" [class.hidden]="activeTab ===1" [class.visible]="activeTab ===0">
             <app-monthly-daily-chat-wrapper></app-monthly-daily-chat-wrapper>
            </div>
            <div class="tab-pane" role="tabpanel" [class.hidden]="activeTab ===0" [class.visible]="activeTab ===1">
              <app-comapre-to-previous-year-chart></app-comapre-to-previous-year-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <app-alerts></app-alerts>
    </div>
  </div>
</div>
