<div class="modal-header">
  <h5>Define usage limit</h5>
</div>
<div class="modal-body">
  <form  [formGroup]="vacationForm" (ngSubmit)="onSubmit()" class="row" >
    <div class="col-xl-5">
      <div class="daily-usage-limit d-flex p-0-5">
        <div>
          <h6>Daily Usage Limit</h6>
          <div class="d-flex align-items-center">
            <input class="form-control" type="text"  formControlName="limit"/>
            <span class="ms-1">{{modalService.config.initialState.uom}}</span>
          </div>
        </div>

      </div>
    </div>
    <div class="col-xl-7">
      <div class="d-flex flex-column p-0-5">
        <h6 class="me-1"> Vacation Days</h6>
        <div class="picker-wrapper" bsDaterangepicker
             [bsConfig]="dateRangeConfig"
             [(bsValue)]="dateRangePickerValue"
             (onShown)="onOpenCalendar($event)" (bsValueChange)="onDateValueChange($event)">
          <i class="far fa-calendar-alt"></i>
          <div class="date-range">
            <span class="date-string">{{this.range1 | date:'dd MMM YYYY'}}</span>
            <span>-</span>
            <span class="date-string">{{this.range2 | date:'dd MMM YYYY'}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end btn-wrapper">
      <button class="btn btn-primary me-2"  type="submit">Save</button>
      <button class="btn btn-secondary" type="button" (click)="modalService.hide();">Cancel</button>
    </div>
  </form>
</div>

