.active-menu-item {
  font-size: 16px;
  font-weight: bold;
  background: #7CC9C5;

  span {
    color: #FFFFFF;
  }

  .active-menu-item-icon {
    color: #FFFFFF !important;
  }
}

.contact-us-wrapper {
  display: flex;
  position: absolute !important;
  bottom: 0px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  border-top: 1px solid white;
  height: 61px;

  a {
    text-decoration: none !important;
    width: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;

    span {
      font-size: 20px;
    }

    i {
      font-size: 20px;
    }
  }
}

.dropdown-item {
  color: #212529 !important;
  text-decoration: none !important;
}

.subject-and-message-wrapper {
  .subject-wrapper {
    padding: 0.5em;

    select {
      padding: 0.5em;
    }
  }
  .message {
    width: 80%;
    padding: 0.5em;

    textarea {
      width: 100%;
      min-height: 10vh;
    }
  }
  .buttons-wrapper{
    display: flex;
    justify-content: end;
    button:first-child{
      margin-right: 15px;
    }
  }
}

.modal-body{
  p{
    padding: 0.5em 0.5em 0px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
    span{
      font-weight: lighter;
      font-size: 20px;
    }
  }

}
