<section>
  <header>
    <i [class.active-icon]="isChart" class='bx bx-bar-chart-alt-2' (click)="isChart = true"></i>
    <i [class.active-icon]="!isChart"  class='bx bx-table ' (click)="isChart = false"></i>
  </header>
<div  >
<canvas *ngIf="isUpdate && isChart" baseChart
        style="height: 27vh;width:100%"
        [data]="barChartData"
        [options]="activeBarChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [type]="'bar'">
</canvas>
</div>
<div *ngIf="isUpdate && !isChart" class="table-responsive">
  <table class="table mb-0 table-fixed">
    <thead class="table-light">
     <tr>
       <td *ngFor="let header of headers" class="text-center">{{header}}</td>
     </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tableItem of currentTableData">
      <td class="text-center">{{tableItem.date | date:'shortDate'}}</td>
      <td class="text-center">{{tableItem.consumption}}</td>
      <td class="text-center" *ngIf="tableItem.alertName">{{tableItem.alertName}}</td>
    </tr>
    </tbody>
  </table>
</div>
</section>
