<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        All Rights Reserves ©2023 Read Your Meter Pro
      </div>
      <div class="col-sm-6">
        <div class="tabs">
          <div>
            <span>Terms Of Use</span>
          </div>
          <div>
            <span>Privacy Policy</span>
          </div>
          <div>
            <span>Technical Support</span>
          </div>
          <div>
            <span>Accessibility Statement</span>
          </div>
          <div>
            <span>FAQ</span>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="text-sm-end d-none d-sm-block">
          <img src="assets/images/footer/logo.png" alt="logo"/>
          Read Your Meter Pro
        </div>
      </div>
    </div>
  </div>
</footer>
