<footer class="footer">
  <div class="container-fluid">
    <div class="row d-flex align-items-center">
      <div class="col-sm-3 text-white">
        All Rights Reserves ©2023 Read Your Meter Pro
      </div>
      <div class="col-sm-6">
        <div class="tabs">
          <div>
            <a class="link-opacity-75">Terms Of Use</a>
          </div>
          <div>
            <a class="link-opacity-75">Privacy Policy</a>
          </div>
          <div>
            <a class="link-opacity-75">Technical Support</a>
          </div>
          <div>
            <a class="link-opacity-75">Accessibility Statement</a>
          </div>
          <div>
            <a class="link-opacity-75 text-white">FAQ</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="logo-wrapper justify-content-end">
          <img class="logo" src="assets/images/footer/logo.png" alt="logo"/>
          <span class="text-white">Read Your Meter Pro</span>
        </div>
      </div>
    </div>
  </div>
</footer>
