<footer class="footer d-none d-xl-block">
  <div class="container-fluid">
    <div class="row d-flex align-items-center">
      <div class="col-xl-3">
        All Rights Reserves ©2023 Read Your Meter Pro
      </div>
      <div class="col-xl-6">
        <div class="tabs">
          <div>
            <a class="link-opacity-75" (click)="openTermsOfUse(termsOfUseTemplate)">{{'TermsofUse' | translate}}</a>
          </div>
          <div>
            <a class="link-opacity-75" (click)="openPrivacyPolicy(privacyTemplate)">{{'Privacy' | translate}}</a>
          </div>
          <div>
            <a class="link-opacity-75"
               (click)="openTechnicalSupport(technicalSupportTemplate)">{{'FooterContact' | translate}}</a>
          </div>
          <div>
            <a class="link-opacity-75"
               (click)="openAccessibilityStatement(accessibilityStatementTemplate)">{{'AccessibilityStatement' | translate}}</a>
          </div>
          <div>
            <a class="link-opacity-75" (click)="openFAQ()">{{'FAQ'|translate}}</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3">
        <div class="logo-wrapper justify-content-end">
          <img class="logo" src="assets/images/footer/logo.png" alt="logo"/>
          <span>Read Your Meter Pro</span>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer class="footer footer-mobile d-xl-none">
  <div class="container-fluid d-none d-md-block">
    <div class="d-flex justify-content-around align-items-center">
      <div>
        <select (change)="onChange($event.target.value)">
          <option selected> Select Action</option>
          <option [value]="mobileFooterOptions.Terms_Of_Use"><a class="link-opacity-75">{{'TermsofUse' | translate}}</a>
          </option>
          <option [value]="mobileFooterOptions.Privacy_Policy"><a class="link-opacity-75">{{'Privacy' | translate}}</a>
          </option>
          <option [value]="mobileFooterOptions.Technical_Support"><a
            class="link-opacity-75">{{'FooterContact' | translate}}</a>
          </option>
          <option [value]="mobileFooterOptions.Accessibility_Statement"><a
            class="link-opacity-75">{{'AccessibilityStatement'}}</a></option>
          <option [value]="mobileFooterOptions.FAQ"><a class="link-opacity-75">{{'FAQ' | translate}}</a></option>
        </select>
      </div>
      <div>
        All Rights Reserves ©2023 Read Your Meter Pro
      </div>
    </div>
  </div>
</footer>

<ng-template #termsOfUseTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'TermsofUse' | translate}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <textarea class="modal-body">
    {{'TermsOfUseText' | translate}}
  </textarea>
</ng-template>

<ng-template #privacyTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'TermsofUse' | translate}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <textarea class="modal-body">
    {{'PrivacyPolicyText' | translate}}
  </textarea>
</ng-template>


<ng-template #technicalSupportTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'Contact' | translate}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>{{'HappyToAssist' | translate}}</div>
    <div>{{'InTouch' | translate}}</div>
    <div>{{'Tel' | translate}} 1-700-50-6565</div>
    <div>{{'email' | translate}} <a href="mailto: supportarad@arad.co.il">supportarad@arad.co.il</a></div>
  </div>
</ng-template>

<ng-template #accessibilityStatementTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'AccessibilityStatement' | translate}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>{{'firstParagraph' | translate}}</div>
    <p>{{'howAccessibilityWork' | translate}}</p>
    <div>{{'howAccessibilityWorkFirstRow' | translate}} <a
      href="https://www.nagich.co.il/">{{'howAccessibilityWorkFirstRowLink' | translate}} </a>{{'howAccessibilityWorkFirstRowEnd' | translate}}
    </div>
    <div>{{'howAccessibilityWorkSecondRow' | translate}}</div>
    <div>{{'howAccessibilityWorkThirdRow' | translate}} <a
      href="https://www.nagich.co.il/html5/sbs.py?_id=8684&did=5905&G=8684"
      target="_blank">{{'howAccessibilityWorkThirdRowLink' | translate}}</a>
    </div>
    <div> {{'howAccessibilityListHeader' | translate}}</div>
    <ul>
      <li *ngFor="let row of accessibilityStatementTemplateArray">{{row}}</li>
    </ul>
  </div>
</ng-template>
